# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Assets.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Cortu\Documents\College Class IMPORTANATO\Fall 2020 - Spring 2021 Semester\Spring 2021\CS3141\GitHub\cs3141\Boat Brawlers\Assets\.idea\.idea.Assets.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
